body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #dbeafe, #e0f2f1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Quiz-box{
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.container h1 {
  margin-bottom: 1.5rem;
  color: #333;
}
#next{
    background-color: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}
#next:hover{
    background-color: #055aaa;
}
#options{
    list-style: none;
    padding: 0;
}
#options li{
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: center;
    
}
#options li:hover{

background-color: #e0f2fe;
    transform: scale(1.02);

}
#options button{
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}